/* estilo geral*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(233, 184, 184); 
    height: 100vh;
    /* Fontes do Google*/
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    /* ------------------*/
    }
}


/* estilo da barra lateral*/

header{
    padding: 3px 4%; /* margem do site*/
}

header a{
    color:#8400ff;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;

}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: block;
    padding: 0 10px; /* distancia entre menu e a margem*/
}

/* estilo do botão */

.botoes-sociais {
    display: flex; /* alinha os botões horizontalmente */
    gap: 10px; /* espaço entre os botões */
}

.linkedin img {
    width: 50px; 
    height: auto;
    transition: transform 0.3s ease;
    padding: 0 45px;
}

.github img {
    width: 30px; 
    height: auto;
    margin-top: 10px;
    transition: transform 0.3s ease;
    padding: 0px;

}
.linkedin img:hover,
.github img:hover {
    transform: scale(1.1); /* Efeito de hover */
}

.logo img{
    width: 130px; 
    height: auto;
    transition: transform 0.3s ease;
    padding-left: 50px;
}

.menu-desktop ul li {
    display: block; /* coloca cada item em uma nova linha */
    margin-bottom: 36px; /* adiciona espaço entre os itens */
}

.menu-desktop{ /* espaço entre o botão de contato e o menu*/
    margin-top: 30px;
}


.interface{
    position: fixed;
    top:0;
    left: 0;
    width: 250px;
    height: 900px;
    background-color: #020227;
    animation: slide-in 0.5s ease-in-out;
}
.interface{
    overflow-y: auto; /* permitir rolagem interna*/
}

@keyframes slide-in {
    from {
        left: -200px;
    }
    to {
        left: 0;
    }
}

.interface.open{
    left: 0;
}
.main-content {
    margin-left: 200px;
}

/*
.close-navbar button {
    padding: 10px 20px; tamanho do botao*
    font-size: 18px;
    font-weight: 600;
    background-color: #8400ff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    
} 
*/
