/*
<========================== Corpo geral  ==========================>
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(3, 3, 3); 
    height: 900vh;
    /* Fontes do Google*/
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    /* ------------------*/
    }
}



/*
<===================== Estilo da barra lateral ==========================>
*/

/*
----------------- Geral -------------------
*/

nav.interface{
    width: 40px;
    height: 100%;
    background-color: #3d0055;
    padding: 10px 0 40px 0; /* Cima Direito Embaixo Esquerdo */
    box-shadow: 3px 0 0 #c869ee;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.interface.expandir{
    width: 250px;
}


/*
-------- Botão de expandir --------
 */
.btn-expandir {
    width: 0px;
    padding-left: 10px;
}

.btn-expandir > i{
    color:#e3e3e4;
    font-size: 24px;
    cursor: pointer;
}


/*
-------- Letras e Icon ------------
*/

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color:#c869ee;
}

ul li.item-menu:hover{
    background: #c869ee;
}

ul li.item-menu a{
    color: #dedee4;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%; /*(Cima + Baixo)  (Esquerda + Direita - laterais) */
    display: flex;
    line-height: 20px;
}

ul li.item-menu a .txt-link{
    margin-left: 30px; /*Espaço entre botão e texto*/

}
    
ul li.item-menu a .icon > i{
    font-size: 20px;
    margin-left: 10px;
}


/*
------------ Perfil-------------------
*/

.Profile img{
    width: 130px; 
    height: auto;
    transition: transform 0.3s ease;
    padding-left: 65px;
}

.Profile h1{
    margin-top: 10px;
    margin-left: 40px;
}

/*
-------- Botões do Perfil -------------
*/

.botoes-sociais ul {
    display:flex;
    padding: 10px 0 0 85px;/* Cima Direito Embaixo Esquerdo */
    gap: 50px;
    font-size: 20px;
}

.botoes-sociais li a {
    text-decoration: none;
    color: #c869ee; 
    transition: color 0.3s ease; 
}
.botoes-sociais li a:hover {
    color: #dedee4; 
}


/*
----------------- Main-------------------
*/



/*

------------------ Estilo do topo do site---------------


*/




